{% extends "navbar.html" %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 30px;padding-left: 15px;">
                <button id="addTestDeviceBtn" type="button" class="btn btn-primary">Thêm thiết bị</button>
                <button id="deleteTestDeviceBtn" type="button" class="btn btn-primary">Xóa thiết bị</button>
            </div>
            <div class="row">
                {% for i in range(1, deviceCount) %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="icon-big text-center">
                                            <i class="fas fa-laptop-code"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="numbers">
                                            <p>{{ lst_device_name[i] }}</p>
                                            <span id={{ lst_device_name[i] }}></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}